<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Admin</title>
</head>

<body>
    <div class="card">
        <div class="card-body">
            <% if (err !==undefined ) { %>
                <p style="justify-content: center; background-color: red;">
                    <%= err %>
                </p>

                <% } else { %>
                    User: <%= user %>
                        <hr>
                        <h1>Admin Space Page</h1>
                        <p>Accessible only to users with the 'admin' role.</p>
                        <br>
                        <form action="./logout">
                            <input type="submit" value="Log out" class="btn btn-success" />
                        </form>
                        <% } %>
                            <a class="btn btn-info" href="./" role="button">Return home</a>
        </div>
    </div>

</body>

</html>