<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Home</title>
</head>

<body>
    <div class="card">
        <div class="card-body">
            <h1>Welcome</h1><br>
            User: <%= user %>
                <hr>
            <%if (!user) { %>
                <form action="./login">
                    <input type="submit" value="Log in" class="btn btn-success" />
                </form>
                <br>
                <div>Don't have account? Create one!</div>
                <form action="./signup">
                    </br><input type="submit" value="Sign up" class="btn btn-success" />
                </form>
            <% } else { %>
                <form action="./logout">
                    <input type="submit" value="Log out" class="btn btn-success" />
                </form>
            <% } %>
            <a href="./admin">Admin page</a><br>
            
        </div>
    </div>
</body>

</html>